<% layout('layouts/boilerplate')%>
    <!-- campground[title] is used so that app.js can access the input as a req.body value for campground -->
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <!-- offset-3 puts this div in the middle 6 columns (3 on either side) -->
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <!-- Edit title  -->
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]"      value="<%=campground.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- Edit location -->
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" value="<%=campground.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- Edit price -->
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">£</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="campground[price]" value="<%=campground.price %>"
                        required><div class="valid-feedback">
                        Looks good!
                    </div>
                    </div>
                </div>
                <!-- Edit description -->
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required><%= campground.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                </div>
                  <!-- Edit image -->
                  <div class="mb-3">
                    <!-- To add more images -->
                    <!-- name = 'image' has to match the upload.array('image') -->
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                            <span class="form-file-text custom-file-label">Add more image(s)...</span>
                            <span class="form-file-button">Browse</span>
                        </label>
                    </div>
                </div>
                <!-- To delete current images -->
                <div class="mb-3">
                    <!-- The first argument represents the element in the images array. The second argument represents the position/index of said element.
                    <% campground.images.forEach(function(img, i) {  %> -->
                    <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <!-- any checkbox that is checked, its unique value(img.filename) is added to deleteImages which becomes an array when req.body is parsed-->
                        <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                    </div>
                    <label for="image-<%=i%>">Delete?</label>
                    <% })%>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                </div>
            </form>
            <a href="/campgrounds/<%=campground._id%>">Back to campground</a>
        </div>
    </div>


    