<% layout('layouts/boilerplate')%>
    <!-- campground[title] is used so that app.js can access the input as a req.body value for campground -->
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <!-- offset-3 puts this div in the middle 6 columns (3 on either side) -->
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                <!-- Edit title  -->
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]"      value="<%=campground.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- Edit location -->
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" value="<%=campground.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- Edit image -->
                <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="image" name="campground[image]" value="<%=campground.image %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- Edit price -->
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">£</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="campground[price]" value="<%=campground.price %>"
                        required><div class="valid-feedback">
                        Looks good!
                    </div>
                    </div>
                </div>
                <!-- Edit description -->
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required><%= campground.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                </div>
            </form>
            <a href="/campgrounds/<%=campground._id%>">Back to campground</a>
        </div>
    </div>